# App: Streamlit App
# Package: root
# File: requirements.txt
# Version: 0.0.2
# Author: Bobwares
# Date: 2025-06-07 21:46:09 UTC
# Description: Python dependencies for the project.
#

streamlit
pytest